@using BenimKutuphane.Models.Entity
@model List<TabloMesajlar>
@{
    ViewBag.Title = "Gonderilen";
    Layout = "~/Views/Shared/_LayoutPanelim.cshtml";
}

<h2>Gönderilen Mesajlar</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>Alıcı</th>
        <th>Konu</th>
        <th>Mesaj</th>
        <th>Tarih</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.Alici</td>
            <td>@x.Konu</td>
            <td>@x.Icerik</td>
            <td>@x.Tarih</td>
        </tr>
    }
</table>

