@using BenimKutuphane.Models.Entity
@model List<TabloMesajlar>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPanelim.cshtml";
}

<h2>Mesajlar Sayfası</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>Gönderen</th>
        <th>Konu</th>
        <th>Mesaj</th>
        <th>Tarih</th>
    </tr>
    @foreach(var x in Model)
            {
        <tr>
            <td>@x.Gonderen</td>
            <td>@x.Konu</td>
            <td>@x.Icerik</td>
            <td>@x.Tarih</td>
        </tr>
            }
</table>

